<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar">
      <a class="navbar-brand"routerLink="/menu-list">Restaurant App Modified</a>
    </div>
    <ul class="nav navbar-nav">
      <div class="navbar">
      <li><a routerLink="/menu-list" routerLinkActive="active">Menu</a></li>
      <li><a routerLink="/cart-list" routerLinkActive="active">Cart</a></li>
    </ul>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>